.App {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 30px;
  @media screen and (max-width: 1024px) {
    max-width: 924px;
    width: 95%;
  }
  @media screen and (max-width: 768px) {
    max-width: 718px;
  }
}

.Main {
  padding-top: 100px;
}
